    <main>
        <section class="profile-section">
            <h1>Sebastian Alfonso</h1>
            <p>Sofware Developer</p>
            <img src="https://media.licdn.com/dms/image/D4E03AQFIbV748NW6Vw/profile-displayphoto-shrink_800_800/0/1695955996029?e=1710979200&v=beta&t=IrPYXBrw8PBH5x73KZ8bGrvwiXphk8IgF92EKFmIDyA" alt="Profile Picture" class="profile-picture">
        </section>
        <section class="about-section">
            <h2>Sobre mí</h2>
            <p>Soy un estudiante apasionado y dedicado al mundo de la programación, especializándome en Java con una fuerte inclinación hacia el desarrollo de aplicaciones con Spring Boot y la arquitectura de microservicios. Tengo experiencia en el desarrollo de interfaces de usuario con React y Angular, asegurando así un front end reactivo y moderno. Mis conocimientos en AWS me permiten implementar soluciones en la nube eficientes y escalables. También poseo habilidades en UX/UI design y testing, lo que me ayuda a mantener un alto estándar de calidad en las aplicaciones que desarrollo. Además, tengo una buena base en gestión de bases de datos, lo que completa mi perfil como un desarrollador full-stack en ciernes.</p>
            <p class="image-credit">Image from S.A.M</p>
        </section>
        <section class="details-section">
            <h3>Detalles</h3>
            <p>Desarrollador: Java/React/Angular</p>
            <p>Edad: 29 Años</p>
            <p>Ubicación: Bogotá, Colombia</p>
        </section>
     
    </main>
